@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(~@/assets/fonts/Orbitron-latin-wght-normal.woff2) format('woff2');
}

.is-family-display {
  font-family: "Orbitron", "Bahnschrift", "Trebuchet MS", sans-serif;
}
