.has-border-radius {
  border-radius: $box-radius;
}

.has-shadow-danger {
  box-shadow: 0 10px 32px rgba(255, 91, 164, 0.24);
}

.has-shadow-success {
  box-shadow: 0 10px 32px rgba(77, 246, 178, 0.24);
}

.has-shadow-dark {
  box-shadow: 0 10px 32px rgba(41, 199, 255, 0.24);
}
